.sf-menu {
  margin:0;
  padding:0;
  list-style:none;
  line-height:100%;
}
.sf-menu * {
  margin:0;
  padding:0;
  list-style:none;
}
.sf-menu ul {
  position:absolute;
  top:-999em;
  width:10em;
}
.sf-menu ul li { width:100%; }
.sf-menu li:hover { visibility:inherit; }
.sf-menu li {
  float:left;
  position:relative;
}
.sf-menu a {
  display:block;
  position:relative;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
  left:0;
  top:2.5em;
  z-index:99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top:-999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left:10em;
  top:0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top:-999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left:10em;
  top:0;
}
.ui-pnotify {
  top:18px;
  right:18px;
  position:absolute;
  height:auto;
  z-index:9999;
}
html > body .ui-pnotify { position:fixed; }
.ui-pnotify .ui-pnotify-shadow {
  margin:0;
  position:absolute;
  top:2px;
  left:2px;
  bottom:-3px;
  right:-3px;
  z-index:-1;
}
.ui-pnotify-container {
  background-position:0 0;
  padding:8px;
  height:100%;
}
.ui-pnotify-closer {
  float:right;
  margin-left:2px;
}
.ui-pnotify-title {
  display:block;
  font-size:1.0em;
  font-weight:bold;
  margin-bottom:4px;
}
.ui-pnotify-text {
  font-size:.8em;
  display:block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
  display:block;
  float:left;
  margin-right:2px;
}
.ui-pnotify-history-container {
  position:absolute;
  top:0;
  right:18px;
  width:70px;
  border-top:none;
  z-index:10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header { padding:2px; }
.ui-pnotify-history-container .ui-pnotify-history-all {
  display:block;
  width:100%;
}
.ui-pnotify-history-container .ui-pnotify-history-last {
  display:block;
  width:100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
  display:block;
  margin:0 auto;
}
ul.tagit {
  padding:1px 5px;
  border-style:solid;
  border-width:1px;
  border-color:#c6c6c6;
  overflow:auto !important;
  width:97%;
  background:white;
  margin-bottom:0px;
}
ul.tagit li {
  -moz-border-radius:5px 5px 5px 5px;
  display:block;
  float:left !important;
  margin:2px 5px 2px 0;
  clear:none;
}
ul.tagit li.tagit-choice {
  background-color:#dee7f8;
  border:1px solid #cad8f3;
  padding:2px 4px 3px;
}
ul.tagit li.tagit-choice:hover {
  background-color:#bbcef1;
  border-color:#6d95e0;
}
ul.tagit li.tagit-new {
  padding:2px 4px 3px;
  padding:2px 4px 1px;
  padding:2px 4px 1px 0;
}
ul.tagit li.tagit-choice input {
  display:block !important;
  float:left;
  margin:2px 5px 2px 0;
}
ul.tagit li.tagit-choice a.close {
  color:#777777;
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  outline:medium none;
  padding:2px 0 2px 3px;
  text-decoration:none;
}
ul.tagit input[type="text"] {
  -moz-box-sizing:border-box;
  border:none;
  margin:0;
  padding:0;
  width:inherit;
  border-color:#c6c6c6;
  background-color:#ffffff;
  color:#333333;
}
ul.tagit li:after, ul.tagit li div:after {
  content:" ";
  display:block;
  clear:none;
}
em {
  font-style:italic;
  font-style:italic;
}
strong {
  font-weight:bold;
  font-weight:bold;
}
.pkp_helpers_clear { clear:both; }
.pkp_helpers_align_left { float:left; }
.pkp_helpers_align_right { float:right; }
.pkp_helpers_text_left { text-align:left; }
.pkp_helpers_text_right { text-align:right; }
.pkp_helpers_text_center { text-align:center; }
.pkp_helpers_text_justify { text-align:justify; }
.pkp_helpers_image_left {
  float:left;
  margin:4px 10px 4px 0;
}
.pkp_helpers_image_right {
  float:right;
  margin:4px 0 4px 10px;
}
.pkp_helpers_container_center { margin:0 auto; }
.pkp_helpers_debug, .pkp_helpers_debug div {
  border:1px dashed red;
  padding:2px;
}
.pkp_helpers_flatlist {
  margin:0;
  padding:0;
}
.pkp_helpers_flatlist li {
  float:left;
  position:relative;
}
div.plupload div.plupload_header { display:none; }
.plupload .plupload_filelist_header { display:none; }
.plupload_header_content {
  background-image:none;
  display:none;
}
.plupload_header_content_bw { background-image:none; }
.plupload_header_title { display:none; }
.plupload_scroll {
  max-height:25px;
  min-height:25px;
  _height:25px;
}
.plupload_hidden { display:none; }
.plupload_droptext { line-height:25px; }
.deprecated_throbber {
  display:none;
  background:url(../lib/pkp/templates/images/throbber.gif) no-repeat;
  width:25px;
  height:25px;
  margin-left:50%;
  margin-top:5%;
}
.deprecated_selectHeader { margin-top:10px; }
.pkp_structure_head {
  height:90px;
  background-color:#a2c6dc;
}
.pkp_structure_head .pkp_structure_masthead {
  background-color:#ffffff;
  height:90px;
}
.pkp_structure_navigation { margin-left:20px; }
.pkp_structure_head_siteNav {
  height:35px;
  padding:2px 10px 0 0;
  border-bottom:1px solid;
  font-size:90%;
  line-height:30px;
}
.pkp_structure_head_siteNav li { padding-left:15px; }
.pkp_structure_head_localNav {
  text-transform:uppercase;
  font:130% "Courier New", Courier, mono;
}
.pkp_structure_search { padding:5px 10px 0 0; }
.pkp_structure_search input {
  border:1px solid #cccccc;
  padding:2px;
  font-size:100%;
}
.pkp_structure_breadcrumb { margin-left:20px; }
.pkp_structure_breadcrumb li {
  padding:10px 2px 0 2px;
  font-size:85%;
  list-style-type:square;
  list-style-position:inside;
}
.pkp_structure_breadcrumb li.no_bullet { list-style-type:none; }
p {
  font-size:90%;
  padding:10px;
}
a { color:#569bbe; }
img {
  display:block;
  padding:2px;
  padding-bottom:0px;
}
hr {
  border:5px solid #e2e2e2;
  border-width:0 0 5px 0;
  margin:20px 10px 10px 10px;
}
h1 {
  padding:10px;
  padding-bottom:0px;
  font-size:196%;
  font-weight:normal;
  font-style:normal;
}
h2 {
  padding:10px;
  padding-bottom:0px;
  font-size:167%;
  font-weight:normal;
  font-style:normal;
}
h3 {
  padding:10px;
  padding-bottom:0px;
  font-size:120%;
  font-weight:normal;
  font-style:normal;
}
h4 {
  padding:10px;
  padding-bottom:0px;
  font-size:105%;
  font-weight:normal;
  font-style:normal;
}
h5, h6 {
  padding:10px;
  padding-bottom:0px;
}
ul, ol, dl, blockquote { padding:10px; }
pre { margin:10px; }
table h1, table h2, table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl, ul h1, ul h2, ul h3, ul h4, ul h5, ul h6, ul p, ul ul, ul ol, ul dl, ol h1, ol h2, ol h3, ol h4, ol h5, ol h6, ol p, ol ul, ol ol, ol dl { padding:0; }
.h1 {
  font-size:196%;
  font-weight:normal;
  font-style:normal;
}
.h2 {
  font-size:167%;
  font-weight:normal;
  font-style:normal;
}
.h3 {
  font-size:120%;
  font-weight:normal;
  font-style:normal;
}
.h4 {
  font-size:105%;
  font-weight:normal;
  font-style:normal;
}
body {
  font-family:Helvetica, Arial, sans-serif;
  _text-align:center;
  color:#333333;
}
.pkp_structure_content {
  margin:0 auto;
  width:960px;
}
.liquid .pkp_structure_content {
  margin:0;
  width:auto;
}
.pkp_structure_page {
  margin:10px auto;
  _text-align:left;
}
.pkp_structure_body:after, .pkp_structure_main:after {
  clear:both;
  display:block;
  visibility:hidden;
  overflow:hidden;
  height:0 !important;
  line-height:0;
  font-size:xx-large;
  content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.pkp_structure_body {
  *zoom:1;
  border-bottom:1px dotted #999999;
  margin-bottom:3px;
}
.pkp_structure_body .pkp_structure_main {
  *zoom:1;
  padding-top:10px;
  border-top:1px dotted #999999;
  display:table-cell;
  *display:block;
  width:auto;
}
.pkp_structure_sidebar {
  padding-top:10px;
  border-top:1px dotted #999999;
  margin-right:20px;
}
.pkp_structure_sidebar_left {
  float:left;
  width:190px;
  _margin-right:-3px;
}
.pkp_structure_sidebar_right {
  float:right;
  width:190px;
  _margin-left:-3px;
}
.pkp_structure_foot {
  height:315px;
  background-color:#c1bbaf;
  clear:both;
}
.pkp_structure_subfoot {
  border-top:1px dotted #ffffff;
  background-color:#c1bbaf;
}
.pkp_linkActions a {
  background-repeat:no-repeat;
  margin-left:10px;
  padding-left:18px;
}
.pkp_linkActions.gridCellContainer a {
  margin-left:0px;
  padding-left:0px;
}
.pkp_linkActions a.add { background:url(../lib/pkp/templates/images/structure/grid_new_file.png) no-repeat left; }
.pkp_linkActions a.notes {
  background:url(../lib/pkp/templates/images/structure/grid_note.png);
  background-position:bottom;
}
.pkp_linkActions a.notes_new {
  background:url(../lib/pkp/templates/images/structure/grid_note_new.png);
  background-position:bottom;
}
.pkp_linkActions a.notes_none {
  background:url(../lib/pkp/templates/images/structure/grid_note_none.png);
  background-position:bottom;
}
.pkp_linkActions a.add_item { background-image:url(../lib/pkp/templates/images/structure/lb_add.png); }
.pkp_linkActions a.remove_item { background-image:url(../lib/pkp/templates/images/structure/lb_delete.png); }
.pkp_linkActions a.promote { background-image:url(../lib/pkp/templates/images/structure/grid_promote.png); }
.pkp_linkActions a.enable { background-image:url(../lib/pkp/templates/images/structure/grid_promote.png); }
.pkp_linkActions a.delete { background-image:url(../lib/pkp/templates/images/structure/grid_delete.png); }
.pkp_linkActions a.disable { background-image:url(../lib/pkp/templates/images/structure/grid_delete.png); }
.pkp_linkActions a.edit { background-image:url(../lib/pkp/templates/images/structure/grid_edit.png); }
.pkp_linkActions a.more_info { background-image:url(../lib/pkp/templates/images/structure/grid_information.png); }
@import url("lib/pkp/styles/form.less");
table.pkp_listing td { padding:0.25em 1.5em 0.25em 0.5em; }
table.pkp_listing tr.heading td, table.pkp_listing td.heading {
  font-size:0.85em;
  text-transform:uppercase;
  font-weight:normal;
  padding:0.75em 1.5em 1em 0.5em;
}
table.pkp_listing td.nodata {
  text-align:center;
  font-style:italic;
}
table.pkp_listing td.headseparator {
  border-top:1px dotted #000000;
  font-size:0.1em;
  line-height:1%;
}
table.pkp_listing td.endseparator {
  border-top:1px dotted #000000;
  font-size:0.25em;
  line-height:10%;
}
table.pkp_listing td.separator {
  border-top:1px dotted #ddddd0;
  font-size:0.1em;
  line-height:1%;
}
.pkp_controllers_fontController_smallFont {
  background:url(../lib/pkp/templates/images/icons/font-down.png);
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:20px;
  height:23px;
}
.pkp_controllers_fontController_defaultFont {
  background:url(../lib/pkp/templates/images/icons/font-default.png);
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:20px;
  height:23px;
}
.pkp_controllers_fontController_largeFont {
  background:url(../lib/pkp/templates/images/icons/font-up.png);
  outline:none;
  text-indent:-9999px;
  display:block;
  float:left;
  width:20px;
  height:23px;
}
.pkp_controllers_fontController_ldisabled, .pkp_controllers_fontController_sdisabled {
  opacity:0.3;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter:alpha(opacity=30);
}
.pkp_form .debug div, .pkp_form .debug label { border:1px solid orange; }
.pkp_form fieldset { margin:10px 5px; }
.pkp_form legend {
  font-size:110%;
  padding:10px 0 10px 0;
}
.pkp_form div.section {
  clear:left;
  margin-bottom:10px;
}
.pkp_form label {
  display:block;
  font-weight:bold;
  padding:3px 0 3px 0;
}
.pkp_form label.error { color:#990000; }
.pkp_form span.pkp_form_error {
  color:#990000;
  font-weight:bold;
  font-size:1em;
}
.pkp_form .pkp_form_error_list a { color:#990000; }
.pkp_form span.pkp_form_success {
  color:#009900;
  font-weight:bold;
  font-size:1em;
}
.pkp_form span label.sub_label {
  font-size:80%;
  color:#999999;
  font-weight:normal;
  padding:2px 0 4px 0;
}
.pkp_form input {
  font-size:90%;
  width:99%;
  border:1px solid #cccccc;
  padding:2px;
}
.pkp_form input:focus { outline:none; }
.pkp_form textarea {
  font-size:90%;
  width:99%;
  border:1px solid #cccccc;
  padding:2px;
  height:10em;
}
.pkp_form textarea:focus { outline:none; }
.pkp_form select {
  font-size:90%;
  width:99%;
  border:1px solid #cccccc;
  padding:2px;
}
.pkp_form select:focus { outline:none; }
.pkp_form .quarter { width:25%; }
.pkp_form .half { width:48%; }
.pkp_form .short { height:6em; }
.pkp_form .medium { height:12em; }
.pkp_form .tall { height:18em; }
.pkp_form .req {
  font-weight:bold;
  color:#cc0000;
  padding-left:3px;
}
.pkp_form .inline {
  float:left;
  clear:none !important;
  margin-right:2%;
  margin-bottom:0;
}
.pkp_form ul.checkbox_and_radiobutton {
  margin-bottom:0;
  padding-bottom:0;
  padding-left:0;
}
.pkp_form .checkbox_and_radiobutton li {
  padding-right:35px;
  float:left;
  display:inline;
  list-style:none;
}
.pkp_form .checkbox_and_radiobutton input {
  display:block;
  margin:4px 0 0 0;
  padding:0;
  width:13px;
  height:13px;
}
.pkp_form .checkbox_and_radiobutton li label {
  line-height:150%;
  margin:-17px 0 0 20px;
  padding:0 0 5px 0;
  font-weight:normal;
}
.pkp_form ul.checkbox_and_radiobutton:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  height:0;
  overflow:hidden;
}
.pkp_form .localization_popover_container_focus {
  margin-top:-2px;
  background-color:#eeeeee;
  display:block;
  padding:2px 5px 0px 5px;
  position:relative;
}
.pkp_form .localization_popover {
  background-color:#eeeeee;
  margin-left:-5px;
  padding:10px 5px 5px 5px;
  position:absolute;
  z-index:100;
  display:none;
}
.pkp_form label.locale {
  font-size:1px;
  text-indent:-9999px;
}
.pkp_form .localizable {
  background-color:#ffffff !important;
  background-repeat:no-repeat;
  background:url(../lib/pkp/templates/images/structure/icon_globe.png) no-repeat;
  background-position:100% 50%;
}
.pkp_form textarea.localizable { background-position:100% 0; }
.pkp_form .flag {
  background-color:#ffffff !important;
  background-repeat:no-repeat;
  background-position:100% 50%;
}
.pkp_form .flag_te_ST { background-image:url(../lib/pkp/templates/images/structure/flags/te_ST.png) !important; }
.pkp_form .pkp_form_file_input_container {
  height:30px;
  width:350px;
  position:relative;
  float:left;
}
.pkp_form .pkp_form_file_input_container .pkp_form_fakeFile {
  left:0;
  line-height:90%;
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  width:350px;
  z-index:1;
}
.pkp_form .pkp_form_file_input_container .pkp_form_fakeInput {
  margin-bottom:5px;
  margin-left:0;
  height:15px;
  padding-left:3px;
  padding-top:1px;
  width:241px;
}
.pkp_form .pkp_form_file_input_container .pkp_form_fakeButton { line-height:90%; }
.pkp_form .pkp_form_file_input_container .pkp_form_uploadFile {
  line-height:90%;
  height:29px;
}
.pkp_form input.pkp_form_upload_field {
  padding:3px;
  margin:0;
  height:30px;
  width:350px;
  position:relative;
  z-index:2;
  text-align:right;
  -moz-opacity:0;
  filter:alpha(opacity=0);
  opacity:0;
}
.pkp_form .pkp_form_hidden { display:none !important; }
.pkp_form .formButtons {
  border-top:1px solid #efefef;
  line-height:30px;
  margin:0 0 15px;
  overflow:hidden;
  padding:10px 20px;
  vertical-align:middle;
}
.pkp_form .formButtons .submitFormButton { float:right; }
.pkp_form .formButtons .cancelFormButton { float:left; }
.pkp_form .formButtons div.clear { clear:both; }
.pkp_form .localization_popover_container input.locale_en_US {
  margin:0;
  background-repeat:no-repeat;
  background-position:98% 50%;
  background-image:url(../lib/pkp/templates/images/structure/flags/en_US.png) !important;
}
.pkp_form .localization_popover_container input.locale_fr_CA {
  margin:0;
  background-repeat:no-repeat;
  background-position:98% 50%;
  background-image:url(../lib/pkp/templates/images/structure/flags/fr_CA.png) !important;
}
.pkp_form .localization_popover_container input.locale_te_ST {
  margin:0;
  background-repeat:no-repeat;
  background-position:98% 50%;
  background-image:url(../lib/pkp/templates/images/structure/flags/te_ST.png) !important;
}
.pkp_form .localization_popover_container textarea.locale_en_US {
  margin:0;
  background-repeat:no-repeat;
  background-position:99.5% 2px;
  background-image:url(../lib/pkp/templates/images/structure/flags/en_US.png) !important;
}
.pkp_form .localization_popover_container textarea.locale_fr_CA {
  margin:0;
  background-repeat:no-repeat;
  background-position:99.5% 2px;
  background-image:url(../lib/pkp/templates/images/structure/flags/fr_CA.png) !important;
}
.pkp_form .localization_popover_container textarea.locale_te_ST {
  margin:0;
  background-repeat:no-repeat;
  background-position:99.5% 2px;
  background-image:url(../lib/pkp/templates/images/structure/flags/te_ST.png) !important;
}
div.pkp_controllers_grid div.wrapper {
  margin:10px;
  padding:20px;
  border:1px solid #b6c9d5;
  background-color:#efefef;
}
div.pkp_controllers_grid div.actions { margin-top:10px; }
div.pkp_controllers_grid table {
  width:100%;
  background-color:#ffffff;
  border:1px solid #b6c9d5;
  border-collapse:collapse;
}
div.pkp_controllers_grid thead tr {
  height:30px;
  padding:4px 0;
}
div.pkp_controllers_grid thead th {
  padding:0 4px;
  vertical-align:middle;
  text-align:center;
}
div.pkp_controllers_grid td {
  text-align:center;
  min-height:40px;
  height:40px;
  font-size:85%;
  vertical-align:middle;
  padding:2px 4px;
}
div.pkp_controllers_grid th:first-child, div.pkp_controllers_grid td:first-child, div.pkp_controllers_grid col.first_column { text-align:left !important; }
div.pkp_controllers_grid td.first_column {
  padding:0 !important;
  margin:0 !important;
}
div.pkp_controllers_grid td.first_column a { background-repeat:no-repeat; }
div.pkp_controllers_grid tr.category td {
  text-align:left;
  height:20px;
  font-size:70%;
  text-transform:uppercase;
  padding-left:10px;
  background-color:#e3ecea;
  color:#627b81;
  top:0;
}
div.pkp_controllers_grid tr.category td a {
  background-position:0px 50%;
  padding:5px 0px 5px 15px;
}
div.pkp_controllers_grid .options {
  float:right;
  margin-bottom:10px;
}
div.pkp_controllers_grid .options a {
  background-position:0px 50%;
  display:inline;
  padding:5px 0px 5px 20px;
  margin-left:20px;
  font-size:90%;
}
div.pkp_controllers_grid .hidetext {
  visibility:hidden;
  overflow:hidden;
}
div.pkp_controllers_grid .row_container {
  position:relative;
  padding-left:25px;
  padding-right:30px;
  overflow:hidden;
  background-color:#e8f0f8;
}
div.pkp_controllers_grid .row_actions {
  min-height:40px;
  line-height:40px;
  vertical-align:middle;
  position:absolute;
  top:0;
  left:0;
  width:25px;
  padding-top:5px;
}
div.pkp_controllers_grid .row_file {
  min-height:40px;
  line-height:40px;
  vertical-align:middle;
  width:100%;
  padding:5px 15px;
  background-color:#ffffff;
}
div.pkp_controllers_grid .row_actions a {
  margin-left:5px;
  padding:1px 7px;
}
div.pkp_controllers_grid .row_file a { padding:2px 10px; }
div.pkp_controllers_grid .multiline {
  line-height:125%;
  line-height:inherit;
}
div.pkp_controllers_grid .row_controls {
  display:none;
  border-bottom:1px solid #999999;
}
div.pkp_controllers_grid .row_controls td {
  vertical-align:middle;
  overflow:hidden;
  white-space:nowrap;
  line-height:25px;
  height:25px;
  padding:0px;
}
div.pkp_controllers_grid .row_controls a {
  text-decoration:none;
  color:#777777;
  font-size:90%;
  padding:2px 30px 2px 20px;
}
div.pkp_controllers_grid .row_controls a:hover {
  text-decoration:underline;
  text-decoration:underline;
}
div.pkp_controllers_grid a.sprite {
  background-position:0 top;
  text-decoration:none;
  padding:1px 0px;
}
div.pkp_controllers_grid a.sprite:hover { background-position:0 bottom; }
div.pkp_controllers_grid a.focus { background-position:0 bottom; }
div.pkp_controllers_grid a.task {
  width:100%;
  height:100%;
  text-indent:-1500px;
  overflow:hidden;
  display:block;
  background-position:50% 50%;
  background-repeat:no-repeat;
  margin:0;
  padding:0;
}
div.pkp_controllers_grid tr.alternate_row, div.pkp_controllers_grid tr.alternate_row .row_file { background-color:#f5f5f5; }
div.pkp_controllers_grid th {
  color:#20538d;
  background-color:#ced7e1;
}
div.pkp_controllers_grid a.task:hover { background-color:#efefef; }
div.pkp_controllers_grid .ui-widget { font-size:.9em; }
div.pkp_controllers_grid .toggleDetailContainer { margin:20px 0 20px 0; }
div.pkp_controllers_grid .toggleDetail {
  display:block;
  text-indent:-99999px;
  overflow:hidden;
  background-repeat:no-repeat;
  width:16px;
  height:16px;
  background-image:url(../lib/pkp/styles/images/ui-icons_222222_256x240.png);
}
div.pkp_controllers_grid .moreDetail { background-position:-48px -192px; }
div.pkp_controllers_grid .lessDetail { background-position:-64px -192px; }
div.pkp_controllers_grid .pkp_controllers_grid_throbber {
  display:none;
  background:url(../lib/pkp/templates/images/throbber.gif) no-repeat;
  width:25px;
  height:25px;
  margin:5% auto 0 auto;
}
div.pkp_controllers_grid .visible { display:block; }
div.pkp_controllers_grid .group1 td:first-child { background:url(../lib/pkp/templates/images/structure/grid_group_1.png) no-repeat; }
div.pkp_controllers_grid .group2 td:first-child { background:url(../lib/pkp/templates/images/structure/grid_group_2.png) no-repeat; }
div.pkp_controllers_grid .group3 td:first-child { background:url(../lib/pkp/templates/images/structure/grid_group_3.png) no-repeat; }
div.pkp_controllers_grid .group4 td:first-child { background:url(../lib/pkp/templates/images/structure/grid_group_4.png) no-repeat; }
div.pkp_controllers_grid .group5 td:first-child { background:url(../lib/pkp/templates/images/structure/grid_group_5.png) no-repeat; }
div.pkp_controllers_grid .my_role {
  border:2px solid #cccccc;
  border:2px solid #cccccc;
}
div.pkp_controllers_grid .pkp_controllers_grid_settings_stages {
  display:block;
  float:left;
  width:20%;
}
.pkp_controllers_grid .options a.sort { background:url(../lib/pkp/templates/images/structure/grid_sort.png) no-repeat left; }
.pkp_controllers_grid a.settings { background-image:url(../lib/pkp/templates/images/structure/grid_settings.png); }
.pkp_controllers_grid a.word { background-image:url(../lib/pkp/templates/images/structure/page_white_word.png); }
.pkp_controllers_grid a.excel { background-image:url(../lib/pkp/templates/images/structure/page_white_excel.png); }
.pkp_controllers_grid a.pdf { background-image:url(../lib/pkp/templates/images/structure/page_white_acrobat.png); }
.pkp_controllers_grid a.picture { background-image:url(../lib/pkp/templates/images/structure/page_white_picture.png); }
.pkp_controllers_grid a.html { background-image:url(../lib/pkp/templates/images/structure/page_white_world.png); }
.pkp_controllers_grid a.new { background-image:url(../lib/pkp/templates/images/structure/grid_task.png); }
.pkp_controllers_grid a.accepted { background-image:url(../lib/pkp/templates/images/structure/grid_task_accepted.png); }
.pkp_controllers_grid a.declined { background-image:url(../lib/pkp/templates/images/structure/lb_delete.png); }
.pkp_controllers_grid a.completed { background-image:url(../lib/pkp/templates/images/structure/grid_task_complete.png); }
.pkp_controllers_grid a.overdue { background-image:url(../lib/pkp/templates/images/structure/grid_email_overdue.png); }
.pkp_controllers_grid a.notify { background-image:url(../lib/pkp/templates/images/structure/grid_email.png); }
.pkp_controllers_grid a.uploaded { background-image:url(../lib/pkp/templates/images/structure/grid_folder.png); }
.pkp_controllers_grid div.checked {
  background-image:url(../lib/pkp/templates/images/structure/grid_promote.png);
  height:15px;
  width:15px;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_possibleRevision {
  padding:10px;
  margin:10px;
  border:2px solid black;
  background-color:#ffffdd;
  text-align:left;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_possibleRevision #revisedFileId, .pkp_controllers_grid_files .pkp_controllers_grid_files_possibleRevision p { margin-bottom:10px; }
.pkp_controllers_grid_files .pkp_controllers_grid_files_possibleRevision h5 {
  margin-bottom:10px;
  padding-top:0px;
}
.pkp_controllers_grid_files #revisionWarningIcon {
  height:30px;
  width:30px;
  float:left;
}
.pkp_controllers_grid_files #revisionWarningText { margin-left:35px; }
.pkp_controllers_grid_files .pkp_controllers_grid_files_response pkp_controllers_grid_files_success {
  background:#daf0da url(../lib/pkp/templates/images/structure/response_success.png);
  border-top:1px solid #5abd5a;
  border-bottom:1px solid #5abd5a;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_warning {
  background:#fffae1 url(../lib/pkp/templates/images/structure/response_warning.png);
  border-top:1px solid #ffd324;
  border-bottom:1px solid #ffd324;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_error {
  background:#f8dada url(../lib/pkp/templates/images/structure/response_error.png);
  border-top:1px solid #e68080;
  border-bottom:1px solid #e68080;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_forbidden {
  background:#f8dada url(../lib/pkp/templates/images/structure/response_forbidden.png);
  border-top:1px solid #e68080;
  border-bottom:1px solid #e68080;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_information {
  background:#c9e3f8 url(../lib/pkp/templates/images/structure/response_info.png);
  border-top:1px solid #6aa6d6;
  border-bottom:1px solid #6aa6d6;
}
.pkp_controllers_grid_files .pkp_controllers_grid_files_help {
  background:#c9e3f8 url(../lib/pkp/templates/images/structure/response_help.png);
  border-top:1px solid #6aa6d6;
  border-bottom:1px solid #6aa6d6;
}
div.pkp_controllers_listbuilder .gridCellEdit { display:none; }
div.pkp_controllers_listbuilder .gridRowEdit .gridCellEdit { display:block; }
div.pkp_controllers_listbuilder .gridRowEdit .gridCellDisplay { display:none; }
.pkp_controllers_extrasOnDemand .ui-icon { float:left; }
.pkp_controllers_extrasOnDemand .toggleExtras {
  margin-top:15px;
  margin-bottom:15px;
  cursor:pointer;
  float:left;
}
.pkp_controllers_modal_titleBar {
  height:48px;
  width:100%;
  margin:10px 0 10px 0;
}
.pkp_controllers_modal_titleBar .icon {
  width:44px;
  height:44px;
  float:left;
  margin-left:15px;
  vertical-align:middle;
  background-position:0 50% !important;
  background-repeat:no-repeat !important;
}
.pkp_controllers_modal_titleBar .text {
  margin-left:15px;
  line-height:44px;
  float:left;
  vertical-align:middle;
}
.pkp_controllers_modal_titleBar .close {
  float:right;
  padding-right:10px;
}
.pkp_controllers_modal_titleBar .informationCenter { background:url(../lib/pkp/templates/images/structure/grid_notes.png); }
.pkp_controllers_modal_titleBar .fileManagement { background:url(../lib/pkp/templates/images/structure/response_warning.png); }
.modal-buttons {
  margin:0px 0px 15px 0px;
  padding:0px 20px 0px 20px;
  overflow:hidden;
  vertical-align:middle;
  line-height:30px;
}
.ui-dialog .ui-tabs-panel { padding:0px; }
span.pkp_controllers_informationCenter_itemLastEvent {
  color:#888888;
  font-size:0.8em;
}
.pkp_controllers_informationCenter #notesList {
  max-height:200px;
  overflow:auto;
  padding-right:5px;
}
.pkp_controllers_informationCenter #informationCenterHistoryTab .heading td { font-weight:bold; }
.pkp_controllers_rangeSlider .pkp_controllers_rangeSlider_sliderLabel {
  margin-bottom:10px;
  font-size:.8em;
}
.pkp_controllers_rangeSlider .pkp_controllers_rangeSlider_sliderValue {
  border:0pt none;
  font-weight:bold;
  width:50px;
}
.pkp_controllers_rangeSlider .pkp_controllers_rangeSlider_slider {
  margin-left:13px;
  width:240px;
}
.pkp_controllers_rangeSlider label {
  display:inline;
  margin-right:5px;
}
.pkp_common_reviewRoundStatusContainer {
  height:40px;
  margin:11px;
  border:2px solid black;
  background-color:#ffffdd;
}
.pkp_common_submissionHeaderHeading {
  font-size:1.7em;
  color:#20538d;
  vertical-align:middle;
  float:left;
}
.pkp_controllers_timeline {
  font-size:.9em;
  vertical-align:middle;
  float:left;
  width:100%;
}
.pkp_controllers_timeline .timelineContainer {
  width:90%;
  margin:0 auto;
  clear:both;
  border:2px solid gray;
}
.pkp_controllers_timeline .timelineContainer .timelineFiller {
  height:20px;
  background-color:#e0ffff;
  width:0px;
}
.pkp_controllers_timeline .timelineContainer .timelineFiller.accepted { width:25%; }
.pkp_controllers_timeline .timelineContainer .timelineFiller.internallyReviewed { width:50%; }
.pkp_controllers_timeline .timelineContainer .timelineFiller.reviewed { width:70%; }
.pkp_controllers_timeline .timelineContainer .timelineFiller.copyedited { width:80%; }
.pkp_controllers_timeline .timelineContainer .timelineFiller.published { width:100%; }
.pkp_controllers_timeline .timelineLabelContainer {
  width:90%;
  margin:0 auto;
}
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel {
  font-size:.9em;
  float:left;
  width:20%;
}
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel.center { text-align:center; }
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel.right { text-align:right; }
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel.pastStep { font-weight:bold; }
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel.pastStep a { color:#000000; }
.pkp_controllers_timeline .timelineLabelContainer .timelineLabel.futureStep { color:#808080; }
@import url("styles/authorDashboard.less");
.pkp_submissionChecklist ul li label.error { margin-bottom:15px; }
.pkp_workflow_headerBottom { margin-top:10px; }
.pkp_workflow_headerBottom .pkp_workflow_headerUserInfo {
  padding-right:10px;
  float:left;
}
.pkp_workflow_headerBottom .pkp_workflow_headerUserInfo .pkp_workflow_headerStatusContainer { margin-left:0px; }
.pkp_workflow_headerBottom .pkp_workflow_headerUserInfo .icon {
  background:url(../lib/pkp/templates/images/structure/response_warning.png) no-repeat;
  margin:5px;
  width:32px;
  height:32px;
  float:left;
}
.pkp_workflow_headerBottom .pkp_workflow_headerUserInfo .alert {
  float:left;
  font-size:1.2em;
  color:orange;
  margin-top:15px;
}
.pkp_workflow_headerBottom .pkp_workflow_headerUserInfo .pkp_workflow_headerStageMetadata { float:left; }
.pkp_workflow_headerBottom .pkp_workflow_headerStageParticipants {
  width:45%;
  padding-left:10px;
  float:left;
}
.pkp_workflow_headerBottom .pkp_workflow_headerStageParticipants .wrapper {
  background-color:inherit;
  border:none;
  margin:0px;
  padding:0px;
}
.pkp_workflow_headerBottom .pkp_workflow_headerStageParticipants h3 { font-size:1.2em; }
.pkp_submissionHeader {
  width:95%;
  margin:5px 10px 15px 10px;
}
.pkp_submissionHeader .icon { float:left; }
.pkp_submissionHeader .pkp_submissionHeaderTop .action {
  padding-top:7px;
  float:right;
  margin-left:25px;
}
.pkp_submissionHeader .pkp_submissionHeaderTop .action a {
  background-repeat:no-repeat;
  padding-left:20px;
}
